@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Outfit;
}

.container{
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 15px 20px 5px rgba(8, 74, 102, 0.13);
}

.qrImage{
    margin: 15px;
    border-radius: 10px;
    width: 90%;
    height: auto;
    object-fit: cover;
}

.text1{
    width: 90%;
    font-size: 21px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 17px;
}

.text2{
    width: 81%;
    font-size: 15px;
    margin-bottom: 35px;
    opacity: 0.5;
    font-weight: 400;
}
